#if __has_include(".xres.color.Xresources")
#include ".xres.color.Xresources"
#endif

#if __has_include(".xres.rofi.Xresources")
#include ".xres.rofi.Xresources"
#endif

#if __has_include(".xres.terminal.Xresources")
#include ".xres.terminal.Xresources"
#endif

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
XTerm*faceName: Fixed
XTerm*faceSize: 11
